html, body {
    margin: 0;
    padding; 0;
}

body {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 1em;
    background-color: #EEE;
}

section, article, header, footer {
    display: block;
}

p {
    margin: 1.5em 0;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

input, button, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

input[disabled], button[disabled] {
    cursor: default;
}

/* Header
 * ====== */

header {
    text-align: center;
    border-bottom: 1px solid gray;
    margin-bottom: 2em;
}

header, #progress-area, #challenge-area, #rules-area, #diagram-area {
    margin-bottom: 1.5em;
}

/* Load View
 * ========= */

#load-view {
    margin: auto;
    width: 30em;
}

/* hanging bullets */
#load-view ol {
    padding-left: 0;
}

#load-campaign-input {
    text-align: center;
}


/* Progress Area 
 * ============= */

#progress-area {
    width: 100%;
    text-align: center;
}
#progress-area h2 {
    text-align: left;
}
#challenge-list {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: auto;
}

#challenge-list li {
    padding: 0.75em 1em;
    float: left;
    margin: 0.25em;
}

li.passed {  background-color: #BFB; border: 1px solid #686;}
li.failed {  background-color: #FBB; border: 1px solid #866;}
li.current { background-color: #FF6; border: 1px solid #886;}
li.locked {  background-color: #BBB; border: 1px dashed #666;}

li .status { display: none; }

#score {
    float: right;
    margin: 0;
    font-size: 1.25em;
}


/* Challenge Area 
 * ============== */

#prompt {
    padding: 1em;
    border-radius: 5px;
    background-color: #FF4;
    border: 1px solid #AA3;
}

#prompt p, #prompt h2 {
    margin: 0;
}

#prompt .buttons {
    float: right;
    margin-left: 1em;
}

#prompt .buttons input {
    display: block;
    width: 6em;
}

#prompt .buttons input + input {
    margin-top: 0.5em;
}

#prompt:before, 
#prompt:after { content: ""; display: table; }
#prompt:after { clear: both; }

#feedback {
    margin: 0 2em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #FF8;
    border: 1px solid #AA3;
    border-top: none;
}
#feedback ul {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
}
#feedback p {
    margin: 0;
}

#challenge-area p {
    margin-top: 0;
}

#challenge-area h2 {
    text-align: left;
}

#time-bonus {
    float: right;
    margin: 0;
    font-size: 1.25em;
}


/* Rules Area
 * ========== */

#rules-area h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

tbody {
    background-color: #EEE;
    height: 3em;
    overflow: auto;
}

thead, tfoot {
    background-color: #C8C8C8;
}

th, td {
    border: 1px solid #AAA;
    padding: 0.25em 0.5em;
}

td {
    font-family: monospace;
    text-align: right;
}

tfoot input { text-align: right; } 
tfoot select { text-align: left; } 
tfoot input, tfoot select { 
    font-family: monospace; 
    width: 100%;
}

tfoot input[name=idx]       { width: 2em; }
tfoot select[name=protocol] { width: 5em; }
tfoot input[name=srcPort]   { width: 4em; }
tfoot input[name=dstPort]   { width: 4em; }
tfoot select[name=rule]     { width: 6em; }
tfoot input[name=add] { text-align: center; }


/* Diagram Area
 * =============== */

#diagram-area {
    text-align: center;
}
img {
    padding: 3px;
    border: 1px solid #444;
}

/* Footer
 * ====== */

footer {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 0;
    border-top: 1px solid gray;
    text-align: center;
}
footer p {
    margin: 0;
}
footer a {
    margin-left: 1em;
}
